html, body {
  margin: 0;
  padding: 0;
}
canvas{
  border: 2px solid black;
}
h1{
  color:yellow;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
button{
  background-color:turquoise;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  width: 90px;
  height: 50px;
}
input{
  width: 500px;
  height: 50px;
  border-radius: 50px;
font-size: large;
border-width: 10px;
border-color: tomato;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
